/*
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 44 / 52 / 62 / 74 / 86 / 98 

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 02 COLOURS

Primary: #70baff

- Tints: #b1ddf9
- Shades: #53aff4 #1e7cff #134283
- Accent:
- Greys: #555 #333 #888 #767676

-- 05 SHADOWS

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 BORDER RADIUS

Default: 9px
11px

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/***************************************/
/* GENERAL REUSABLE COMPONENTS */
/***************************************/

.heading-primary,
.heading-secondary,
.heading-third {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-third {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #1e7cff;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn-form {
  background-color: #134283;
  color: #b1ddf9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}

.btn-full:link,
.btn-full:visited {
  color: #333;
  background-color: #70baff;
}

.btn-full:hover,
.btn-full:active {
  color: #333;
  background-color: #53aff4;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #b1ddf9;
  color: #555;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.container {
  padding: 0 2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-placement {
  justify-content: space-around;
}

.flex-placement-bet {
  justify-content: space-between;
}

.flex-gap {
  gap: 9.6rem;
}

.half {
  width: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right-bord {
  box-shadow: inset -1rem 0 #53aff4;
}

.left-bord {
  box-shadow: inset 1rem 0 #53aff4;
}

strong {
  font-weight: 500;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.link:link,
.link:visited {
  color: #53aff4;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #1e7cff;
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}

.marg {
  margin-top: 4.8rem;
}

.section-gep {
  padding: 9.6rem;
}

.custom-half-one {
  width: 55%;
}

.custom-half-two {
  width: 45%;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-icon {
  height: 3rem;
  width: 3rem;
  color: #1e7cff;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.marg-bottom {
  margin-bottom: 9.6rem;
}

.marg-bottom-1 {
  margin-bottom: 4.8rem;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(19, 66, 131, 0.5);
}
